name: Analyze

on:
  push:
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  analyze-shell-scripts:
    name: Shell Scripts
    runs-on: macos-latest
    env:
      JOB_TYPE: ANALYZE
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          brew install shellcheck
        env:
          HOMEBREW_NO_INSTALL_CLEANUP: 1

      - name: Run shellcheck
        run: find . \( -name "*.tool" -o -name "*.command" -o -name "*.sh" \) -exec sh -c 'for TargetFile; do shellcheck --severity=info "${TargetFile}" || exit 1; done' sh {} +

  analyze-python-scripts:
    name: Python Scripts
    runs-on: ubuntu-latest
    env:
      JOB_TYPE: ANALYZE
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          python3 -m venv ~/pyenv
          source ~/pyenv/bin/activate
          python3 -m pip install -r requirements.txt

      - name: Run prospector
        run: |
          source ~/pyenv/bin/activate
          python3 -m prospector . -P ./prospector/profile.yml > prospector_result.txt || exit 1

      - name: Upload prospector result to Artifacts
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: Prospector Artifacts
          path: ./prospector_result.txt
